{{#exists issues}}
<hr/>
<h3>Help other projects - Total: {{this.total}}</h3>
<div class="row">
    {{#each issues}}
    <div class="row">
        <div class="large-12 columns issue">
            <h5><a href="{{this.repo_url}}">{{this.repo_name}}</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns issue">
            <div class="large-1 medium-2 small-3 columns">
                <img class="avatar" src="{{this.avatar}}"/>
            </div>
            <div class="small-11">
                <a class="issue-title" href="{{this.url}}">{{this.title}} - {{timeago this.created}}</a>
                <br />
                {{#each labels}}
                <a href="{{../repo_url}}/issues?q=is%3Aissue+is%3Aopen+label%3A%22{{this.name}}%22">
                    <span class="label" style="background-color:#{{this.color}}">{{this.name}}</span>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <br />
            <p>{{this.description}}</p>
        </div>
    </div>
    {{/each}}
</div>
<hr/>
{{/exists}}
