{{#exists prs}}
  {{#if userImage}}
    <img class="avatar" src="{{userImage}}"/>
  {{/if}}

  <div class="row">
    <div class="large-12 columns">
      <h2><strong>{{ prs.length }} / 4</strong></h2>
      <h3><strong>{{ statement }}</strong></h3>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="large-12 columns">
      <div class="social-head">
        <h4><strong>Share:</strong></h4>
        <div class="social">
          <ul>
            <li><div class="twitter"><a href="https://twitter.com/intent/tweet?button_hashtag=hacktoberfest&text=I'm on {{ prs.length }}/4 pull requests, how about you? {{ prs.statement }}" target="_blank">Twitter</a></div></li>
            <li><div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhacktoberfestchecker.herokuapp.com%2F&amp;" target="_blank">Facebook</a></div></li>
            <li><div class="googleplus"><a href="https://plus.google.com/share?url=https%3A%2F%2Fhacktoberfestchecker.herokuapp.com%3A" target="_blank">G+</a></div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="large-12 columns">
      <ul class="pulls">
        {{#each prs}}
          <li>
            <a href="{{this.url}}">{{this.repo_name}} - #{{this.title}} ({{this.state}})</a>
            {{#if hasHacktoberFestLabel}}<span class="label">hacktoberfest</span>{{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/exists}}
