{{#exists prs}}
  {{#if userImage}}
    <img class="avatar" src="{{userImage}}"/>
  {{/if}}
  
  <div class="row">
    <div class="large-12 columns">
      <h2><strong>{{ prs.length }} / 4</strong></h2>
      <h3><strong>{{ statement }}</strong></h3>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="large-12 columns">
      <ul class="pulls">
        {{#each prs}}
          <li>
            <a href="{{this.url}}">{{this.repo_name}} - #{{this.title}} ({{this.state}})</a>
            {{#if hasHacktoberFestLabel}}<span class="label">hacktoberfest</span>{{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/exists}}
