{{#exists prs}}
    {{#if userImage}}
        <img class="tc br-100 w4" src="{{userImage}}"/>
    {{/if}}


    <h2 class="white"><strong>{{ prs.length }} / 4</strong></h2>
    <h3 class="white"><strong>{{ statement }}</strong></h3>

    {{#each prs}}
      <a href="{{this.url}}" class="center db pa3 bg-white bb br1 w-50 grey dim pointer no-underline {{#if hasHacktoberFestLabel}}b--orange{{/if}}">
        {{this.repo_name}} - #{{this.title}} ({{this.state}})
      </a>
    {{/each}}
{{/exists}}
